.h1 {
  font-size: 6vw;
}
.header {
  margin-top: -5vw;
  font-size: 4vw;
}
.left {
  position: absolute;
  left: 0;
}
.topLeft {
  position: absolute;
  left: 0;
  top: 0;
}

.isright {
  position: absolute;
  right: 1.5vw;
  width: 30%;
  top: 7vh;
}
.font {
  font-size: 1.5vw;
}
.max {
  max-width: 15rem;
}
.h2 {
  font-size: 2.5rem;
}
.mobileSpace {
  position: absolute;
  display: none;
}
.catImage {
  max-width: 15rem;
  max-height: 15rem;
}
.image1 {
  max-height: 180px;
}

.catImage1 {
  max-width: 30rem;
  max-height: 30rem;
}
.padding1 {
  margin-top: 3px;
}
.whiteborder {
  border-style: solid;
  border-width: 5px;
  border-color: white;
}
.spacing {
  position: relative;
  top: -3.5vh;
}
.responsive-size {
  font-size: 7vh;
}
.height {
  height: 18rem;
}
.pos {
  position: absolute;
  margin-top: -250px;
  margin-left: 7vw;
}
.pos1 {
  margin-top: -520px;
  right: 18%;
  display: block;

  max-width: 99%;
}
.pos2 {
  position: absolute;
  margin-top: -13vw;
  margin-left: 5vw;

  max-width: 50%;
}
.pos3 {
  position: absolute;
  left: 18%;
  display: block;
  bottom: 99%;
  max-width: 50%;
}
.marginBottom {
  margin-bottom: 10px;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1 {
  border-right: 2px solid rgba(255, 255, 255, 0.75);

  left: 0;
  white-space: nowrap;
  overflow: hidden;
}
.arrow {
  z-index: 1;
}
.background1 {
  color: #0dd606;
}
.zind {
  z-index: 2;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 3s steps(52) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typew {
  animation: typewriterLong 4s steps(52) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) 15 normal;
}
.green {
  color: #0cf504;
}
.centered {
  position: relative;
}
.flexBox {
  position: absolute;
  display: inline-flex;
  margin-top: 13vw;
  left: 0;
  padding: 10px;
}
.flexItem {
  margin-left: 10vw;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes typewriterLong {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
/* (480x800) Android */
@media only screen and (min-width: 180px) and (max-width: 480px) {
  /* insert styles here */
  .flexBox {
    position: relative;
    display: flex;
    float: center;
    flex-direction: column;
  }
  .flexItem {
    margin-left: 0;
  }
  .h1 {
    display: none;
  }
  .mobile-Spacing {
    margin-top: 30%;
  }
  .topPadding {
    padding-top: 25px;
  }
  .header {
    font-size: 25px;
    top: 0;
    margin-top: 15vw;
  }
  .subtitle-header {
    margin-top: -20vw;
  }
  .h2 {
    font-size: 150%;
  }
  .max {
    max-width: 15rem;
  }
  .pos {
    display: none;
  }
  .pos1 {
    display: none;
  }
  .pos2 {
    display: none;
  }
  .pos3 {
    display: none;
  }
  .isright {
    left: 0;
    width: 100%;
    margin-top: 50vw;
    top: 50%;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .cards > * {
    flex: 1 1 1 20rem;
  }
  .mobileSpace {
    position: relative;
    height: 100%;
    display: block;
    padding-bottom: 455px;
  }
  .relative {
    margin-top: 200px;
  }
  .mobileCentered {
    text-align: center;
  }
  .centered {
    position: relative;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .flexBox {
    position: absolute;
    display: flex;
    width: 100%;
    top: 70%;
    flex-direction: column;
  }
  .flexItem {
    margin-left: 0;
  }
  .h1 {
    margin-top: 10vw;
    font-size: 50px;
  }
  .header {
    position: absolute;
    margin-top: -30vw;
    font-size: 35px;
  }
  .centered {
    position: relative;
    display: flex;
    width: 50%;
  }

  .subtitle-header {
    left: 0;
    margin-top: -15vw;

    font-size: 100%;
  }

  .catImage1 {
    display: none;
  }
  .pos {
    display: none;
  }
  .pos1 {
    display: none;
  }
  .pos2 {
    display: none;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .cards > * {
    flex: 1 1 1 350px;
  }
  .mobileSpace {
    position: relative;
    height: 100%;
    display: block;
    padding-bottom: 485px;
  }
  .isright {
    left: 0;
    width: 100%;
    top: 95%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .h1 {
    margin-top: 7vw;
    font-size: 50px;
  }
  .header {
    position: absolute;
    font-size: 50px;
    margin-top: -300px;
  }

  .subtitle-header {
    left: 0;
    margin-top: -20vw;

    font-size: 100%;
  }

  .catImage1 {
    display: none;
  }
  .pos {
    display: none;
  }
  .pos1 {
    display: none;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .cards > * {
    flex: 1 1 1 350px;
  }
  .mobileSpace {
    position: relative;
    height: 500px;
    display: block;
    z-index: -2;
  }
  .isright {
    left: 0;
    width: 100%;
    top: 80%;
  }
}
@media screen and (min-width: 1080px) {
  /* insert styles here */
  .h1 {
    margin-left: -70px;
  }
  .subtitle-header {
    font-size: 100%;
  }
}
